// Default Styles
* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

//Jumbotron Contents
// .btn-container {
// 	margin: 0 auto;
// }

.btn {
	margin: 0 1px;
}

.jumbotron {
	img {
		width: 100%;
	}
}

//Todo List Styles

.todo-container {
	padding-top: 80px;
}

.task-bar{
	text-align: right;
	display: block;

		.btn {
			width: 33%;
			margin: 2px 1px;
		}
}

.task-adder {

	.btn{
		width: 20%;
	}

		input {
			border: none;
			line-height: 45px;
			width: 79%;
			outline: none;
		}

		input:focus {
			background-color: cyan;
		}

}






