// Default Styles
* {
	font-family: Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

body {
	// background-color: cyan;
}

//Jumbotron Contents

.btn {
	margin: 0 1px;
}

.jumbotron {
	img {
		width: 100%;
	}
}

//Todo List Styles

.todo-container {
	padding-top: 80px;
}

.task-bar{
	text-align: right;
	display: block;

		.btn {
			width: 100%;
			margin: 2px 1px;
		}

		.button-container {
			padding: 0 5px 0 5px;
		}
}

.task-adder {

	.btn{
		width: 25%;
	}

	.submit{
		margin-left: 2px;
	}

		input {
			border: none;
			line-height: 45px;
			width: 70%;
			outline: none;
		}

		#task-input:required {
			// border: 2px solid red;
			// transition: 1s ease all;
		}

}

.task-list {
	height: 360px;
	margin-top: 40px;
	overflow: scroll;
}

.checkbox {
	width: 24px;
	border-radius: 5px 5px 5px 5px;
	display: inline-block;
}

.xbox {
	font-size: 10px;
	border-radius: 5px 5px 5px 5px;
	margin-left: 4px;
	float: right;
}

// Images
.hero {
	zoom: 200%;
	height: 200px;
	margin-left: -30px;
}

@media only screen and (max-width: 500px) {
    .hero {
    	margin-left: -70px;
    }

    .task-adder {

		.btn{
			width: 100%;
		}

		.submit{
			margin-left: 2px;
		}

		input {
			border: none;
			line-height: 45px;
			width: 100%;
			outline: none;
		}

		input:focus {
			// background-color: cyan;
		}

	}
}

//Animations

	//Start of animation for tasks.
.fade-enter {
	right: 100px;
}

	//End of animation for tasks.
.fade-enter-active {
	right: 0px;
	transition: .5s ease-in all;
}

.fade-leave {
	right: 0px;
	opacity: 1;
}

.fade-leave-active {
	right: -100px;
	opacity: 0;
	transition: .5s ease-out all;
}

@keyframes fontbulger {
  0% {
    font-size: 20px;
  }
  30% {
    font-size: 30px;
  }
  100% {
    font-size: 20px;
  }
}

@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




